apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: ${SPOKE_CLUSTER_NAME}
  namespace: ${SPOKE_NAMESPACE}
spec:
  baseDomain: ${BASE_DOMAIN}
  clusterName: ${SPOKE_CLUSTER_NAME}
  controlPlaneConfig:
    servingCertificates: {}
  installed: false
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: ${SPOKE_CLUSTER_NAME}-install
    version: v1beta1
  platform:
    agentBareMetal:
      agentSelector:
        matchLabels:
          cluster: ${SPOKE_CLUSTER_NAME}
  pullSecretRef:
    name: pull-secret
