apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: ${SPOKE_CLUSTER_NAME}
  namespace: ${SPOKE_NAMESPACE}
spec:
  clusterRef:
    name: ${SPOKE_CLUSTER_NAME}
    namespace: ${SPOKE_NAMESPACE}
  pullSecretRef:
    name: pull-secret
  sshAuthorizedKey: ${SSH_KEY}
  agentLabelSelector:
    matchLabels:
      cluster: ${SPOKE_CLUSTER_NAME}
